ENV=QA
APPIUM_HOST=127.0.0.1
APPIUM_PORT=4723
APPIUM_BASE_PATH=/

APK_PATH=./app/app-release.apk
APP_PACKAGE=com.sandeepreddy9392.neurovoiceapp
APP_ACTIVITY=com.sandeepreddy9392.neurovoiceapp.MainActivity

AUTOMATION_NAME=UiAutomator2
PLATFORM_NAME=Android
PLATFORM_VERSION=13.0
DEVICE_NAME=Pixel_6_API_33

AUTO_GRANT_PERMISSIONS=true
NO_RESET=false
FULL_RESET=false
NEW_COMMAND_TIMEOUT=300
IMPLICIT_WAIT_MS=10000
EXPLICIT_WAIT_MS=15000

LOG_LEVEL=info
GENERATE_EXCEL_REPORT=true
GENERATE_HTML_REPORT=true
AUTO_CAPTURE_FAILURES=true
CAPTURE_SCREENSHOT_ON_STEP=false

CI=false
HEADLESS=false
