node_modules/
reports/*.html
reports/*.json
reports/*.xlsx
reports/screenshots/*
reports/failures/*
reports/logs/*
!reports/.gitkeep
!reports/failures/.gitkeep
!reports/screenshots/.gitkeep
!reports/logs/.gitkeep

.env.local
.DS_Store
Thumbs.db

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.idea/
.vscode/
